<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="azure:sqldb:connectionstring2" value="Server=tcp:davinci.database.windows.net,1433;Database=DavinciTSDB;User ID=davinci-TSS-User@davinci;Password=@@$%#123019grAHRTDf83kjfXD;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>